* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(3T4zCv9.jpg);
    background-size:cover;
}

.container {
    display: flex;
    background: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
}

.signup-box {
    flex: 1;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: white;
}

.input-box {
    margin-bottom: 15px;
    color: black;
}

.input-box input {
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    margin: 20px;
}

.checkbox input {
    margin-right: 10px;
}

.btn {
    width: 200px;
    padding: 10px;
    border: 2px solid transparent;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
    border-color: white;    
    background: transparent;
    text-decoration: none;
}

.btn:hover {
  color: white;
  border-color: orange;
  background:none;
}

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    width: 80%;
    border-radius: 10px;
}

.p2 {
    font-size: 13px;
    margin: 30px 0px;
    /* text-align: center; */
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }


  .social-link-list-lo .social-link-lu{
    color: white;
    /* display: flex; */
    gap: 25px;
    justify-content: space-between;
    object-fit: cover;
    border: 2px  solid transparent;
    justify-content: center;
    padding: 10px  20px;
    align-items: center;
    flex-direction: row;
    transition: 0.4s ease;
    font-size: 1.15rem;
  }
  
  .social-link-list-lo .social-link-lu:hover{
    color: white;
    border-color: orange;
    background: transparent;
}
  