@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,100;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Styling for whole site */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}


.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1300px;
}

.section-title{
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
  font-size: 2rem;
}

.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: 8px;
  background: orange;
}



/* Navbar Style */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #010101;
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar  .nav-logo  .logo-text {
  color: whitesmoke;
  font-size: 2rem;
  font-weight: 600;
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  color: white;
  font-size: 1.12rem;
  border-radius: 20px;
  transition: 0.3s ease;
}
.navbar .nav-menu  .nav-link:hover{
  color: #3b141c;
  background: orange;
  border-radius: 5px;
}
 
.register .regist-r {
  width: 10em;
  height: 5ex;
  padding: 6px  19px;
  text-align: center;
  border: 2px  solid transparent;
  border-color: white; 
  border-radius: 30px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  transition: 0.4s ease;

}
.navbar .register .regist-r:hover{
  color: white;
  border-color: orange;
  background: transparent;
}






.navbar :where(#menu-close-button , #menu-open-button){
  display: none; 
}


/* HERO SECTION styling */

.hero-section{
  min-height: 100vh;
  background: #010101;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color:white;
  justify-content: space-between;
}

.hero-section .hero-details  .title {
  font-size: 2.3rem;
  color: orangered;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: 2.3rem;
  font-weight: 600;
}

.hero-section .hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: 1.12rem;
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
  
}

.hero-section .hero-details .button{
  padding: 10px  26px;
  border: 2px  solid transparent;
  color: #010101;
  border-radius: 30px;
  background-color: orangered;
  font-weight:500;
  transition: 0.4s ease;
}

.hero-section .hero-details .button:hover , 
.hero-section .hero-details .contact-us{
  color: white;
  border-color: whitesmoke;
  background:transparent;
}

.hero-section .hero-details .contact-us:hover{
  color: whitesmoke;
  border-color: orange;
  background:transparent;
}



.hero-section .hero-image-wrapper {
  max-width: 900px;
  margin-right: 30px;
}

/* About Section */
.about-section {
  padding: 120px 0;
  background: #faf4f5;
}

 .about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
 }

 .about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20%;
 }


 .about-section .about-details {
  max-width: 50%;
 }


.about-section .about-details .section-title{
  padding: 0;
}
.about-section .about-details .text{
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: 1.12rem;
}

.about-section .social-link-list {
  display: flex;
  gap: 15px;
  justify-content: center;
  font-size: 2.700rem;
}

.about-section .social-link-list .social-link {
  color: #010101;
  font-size: 1.5rem;
  transition: 0.2s ease;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-section .social-link-list .social-link:hover{
  color: orange;
}


/* Menu section Styling */

.menu-section{
  color: white;
  background: #010101;
  padding: 50px 0 100px;
}
.menu-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
  align-items: le; 
  justify-content: space-between;
}
.menu-section .menu-list .menu-item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3 - 110px);
}
.menu-section .menu-list .menu-item .menu-image {
  max-width: 83%;
  aspect-ratio: 100%;
  margin-bottom: 15px;
  object-fit: contain;

}

.menu-section .menu-list .menu-item .name{
  margin: 12px 0;
  font-size: 1.5rem;
  font-weight: 600;
}


.menu-section .menu-list .menu-item .name .text {
  font-size: 1.12rem;
}


/* LOGIN STYLING  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.left {
  position: relative;
  height: 100%;
  width: 50%;
  /* background: rgba(25, 70, 210, 0.6); */
  display: flex;
  background-color: #010101;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -3;
  object-fit: cover;
}

.logo {
  position: absolute;
  color: white;
  margin: 40px 35px;
}

.left-content {
  align-self: center;
  padding-left: 50px;
}

.left-content h1 {
  font-size: 50px;
  color: white;
}

.btn {
  display: inline-block;
  text-decoration: none;
  width: 150px;
  margin-top: 10px;
  padding: 18px 10px;
  background: white;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  color: #1946d2;
  transition: 0.4s ease;
}

.btn:hover {
  background: transparent;
  color: white;
  border-color: orange;
}

.right {
  height: 100%;
  width: 50%;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-align: center;
}

.right h1 {
  color: #030405;
}

.p1 {
  color: #b5bdc5;
  font-size: 26px;
  margin-top: 5px;
  text-align: center;
}

.form {
  margin-top: 10px;
  text-align: center;
}

.input-box {
  height: 55px;
  width: 50%;
  margin: 20px 0px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  color: #1946d2;
  border: solid 1.2px #cccccc;
  outline: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.input-box label {
  position: absolute;
  left: 10px;
  top: -6px;
  width: 60px;
  background: white;
  font-size: 11px;
  color: #1946d2;
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.1s;
  padding-left: 5px;
  text-align: center;
}

.input:focus + label,.input:focus,.input:valid + label,.input:valid {
  transform: scaleX(1);
  border-color: #1946d2;
}

.btn-sec {
  width: 50%;
  height: 55px;
  background-color: transparent;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.4s ease;
  justify-content: center;
}

.btn-sec:hover{
  background-color: orange;
}



.p2 {
  font-size: 13px;
  margin: 30px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.social-media {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.s-btn {
  padding: 13px 18px;
  font-size: 12px;
  color: white;
  text-decoration: none;
  width: 130px;
  border: 5px;
  border-radius: 5px;
}

.s-btn i {
  font-size: 16px;
  margin-right: 5px;
}

.social-link-list-lo .social-link-lu{
  color: white;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  object-fit: cover;
  justify-content: center;
  padding: 10px  20px;
  align-items: center;
  flex-direction: row;
  transition: 0.3s ease;
  font-size: 1.15rem;
  position: static;
  
}

.social-link-list-lo .social-link-lu:hover{
  color: orange;
}








/* Contact section styling */
.contact-section {
  padding: 50px 0 100px;
  background:black;
}
.contact-section .section-content {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
}
.contact-section .contact-info-list .contact-info {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}
.contact-section .contact-info-list .contact-info i {
  font-size: 1.12rem;
}
.contact-section .contact-form .form-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  outline: none;
  margin-bottom: 16px;
  font-size: 0.9rem;
  border-radius: 8px;
  border: 1px solid orange;
}
.contact-section .contact-form {
  max-width: 50%;
}
.contact-section .contact-form textarea.form-input {
  height: 100px;
  padding: 12px;
  resize: vertical;
}
.contact-section .contact-form .form-input:focus {
  border-color:orange;
}
.contact-section .contact-form .submit-button {
  padding: 10px 28px;
  outline: none;
  margin-top: 10px;
  border: 1px solid #010101;
  border-radius: 30px;
  background: #010101;
  color: black;
  font-size: 1.12rem;
  font-weight: 500;
  transition: 0.3s ease;
}
.contact-section .contact-form .submit-button:hover {
  color: #010101;
  background: transparent;
}






/* Footer section styling */
.footer-section {
  padding: 20px 0;
  background: var(--dark-color);
}
.footer-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-section :where(.copyright-text, .social-link, .policy-link) {
  color: white;
  transition: 0.2s ease;
}
.footer-section .social-link-list {
  display: flex;
  gap: 25px;
}
.footer-section .social-link-list .social-link {
  font-size:large;
}
.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
  color: orange;
}
.footer-section .policy-text .separator {
  color: #fff;
  margin: 0 5px;
}

/* Responsive media query code for max width 1024px*/
@media screen and (max-width: 1024px){
  .menu-section .menu-list {
    gap: 60px;
  }
  .menu-section .menu-list .menu-item{
    width: calc(100% / 3 - 60px);
  }
}


/* Responsive media query code for max width 900px*/
@media screen and (max-width: 900px) {
    .navbar :where(#menu-close-button , #menu-open-button) {
      display: block;
      font-size: 1.3rem;
    }


    body.show-mobile-menu header::before{
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      backdrop-filter: blur(5px);
      background: rgba(0 , 0 , 0, 0.2);
    }
    .navbar #menu-close-button {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    .navbar #menu-open-button{
      color: white;

    } 




  .navbar .nav-menu {
    display: block;
    background: white;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: left 0.2s ease;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }

  .navbar .nav-menu .nav-link{
    color: black;
    display: block;
    margin-top: 17px;

    font-size: 1.12rem;
  }


  .hero-section .section-content {
    gap: 50px;
    text-align: center;
    padding: 30px  20px  20px;
    flex-direction: column-reverse;
    justify-content: center;

  }

  .hero-section .hero-details :is(.subtitle,.description), .about-section .about-details{
    max-width: 100%;

  }

  .hero-section .hero-details .buttons {
    justify-content: center;

  }

  .hero-section .hero-image-wrapper {
    max-width: 500px;
    margin-right: 0;
  }

  .about-section .section-content {
    gap: 70px;
    flex-direction: column-reverse;
  }

  .about-section .about-image-wrapper .about-image {
    width: 100;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
  }

  
.about-section .about-details .section-title{
  padding: 0;
}


.about-section .about-details.text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: 1.12rem;
}

.menu-section .menu-list {
  gap: 60px;
}
.menu-section .menu-list .menu-item{
  width: calc(100% / 2 - 30px);
}

.menu-section .menu-list .menu-item .menu-image{
max-width: 200px;

}
}

/* Responsive media query code for max width 640px*/
@media screen and (max-width:640px){
  .menu-section .menu-list{
    gap: 60px;
  }

  .menu-section .menu-list .menu-item{
    width: 100%;
  }
  
}


